<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharon.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".personInfoActivity"
            android:label="@string/title_activity_person_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginComfirmActivity"
            android:label="@string/title_activity_login_comfirm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ForeignInfoActivity"
            android:label="@string/title_activity_foreign_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".personInfoConfirmActivity"
            android:label="@string/title_activity_person_info_confirm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Income_Activity"
            android:label="@string/title_activity_income_"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".income2_Activity"
            android:label="@string/title_activity_income2_"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Income_ComfirmActivity"
            android:label="@string/title_activity_income_confirm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Refund_Activity"
            android:label="@string/title_activity_refund_"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ConfirmRefundActivity"
            android:label="@string/title_activity_confirm_refund"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
